.auth-page {
  padding: 24px 28px 40px;
  overflow: auto;
  height: calc(100% - 58px);
}
.auth-back {
  display: inline-block;
  color: #b69aff;
  font-size: 12px;
  margin-bottom: 35px;
  text-decoration: none;
}
.auth-page > .logo {
  margin-bottom: 30px;
}
.auth-page h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.auth-page form {
  margin-top: 25px;
}
.auth-page label {
  display: block;
  font-size: 12px;
  color: #c9c1d0;
  margin: 20px 0;
}
.auth-page input {
  display: block;
  width: 100%;
  padding: 14px;
  margin-top: 9px;
  background: #252129;
  color: white;
  border: 1px solid #514359;
  border-radius: 10px;
}
.auth-page .auth-switch {
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
}
.story-reader {
  height: calc(100% - 128px);
  padding-top: 24px;
  padding-bottom: 130px;
  overflow: auto;
  scrollbar-width: none;
}
.story-reader h1 {
  font:
    31px/1.2 'Instrument Serif',
    Georgia,
    serif;
  margin: 24px 0;
}
.story-reader p {
  font-size: 13px;
  line-height: 1.9;
  color: #c5bcb2;
  margin: 18px 0;
}
.saved-list {
  margin-top: 20px;
}
.discover > .back {
  margin-bottom: 20px;
}
